Host dev
    HostName 192.168.1.1
    Port 11122
    User feng
    ForwardX11 yes
    ForwardX11Trusted yes
Host work
    HostName corp.onycloud.com
    User feng
    Port 11122
    Compression yes
    ForwardX11 yes
    ForwardX11Trusted yes
Host onycloud
    HostName onycloud.com
    User deploy
    Compression yes
Host feng
    HostName shenfeng.me
    User feng
    Compression yes
Host t60
    HostName home-t60
    User feng
    Compression yes
    ForwardX11 yes
    ForwardX11Trusted yes

