ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
ControlPersist 1h
Host proxy
    HostName gfwvpn.mei.fm
    User proxyuser
    Compression yes
Host feng
    HostName shenfeng.me
    User feng
    Compression yes
Host home
    HostName 192.168.1.10
    User feng
    Compression yes
    # ForwardX11 yes
    # ForwardX11Trusted yes
Host server
    HostName 192.168.1.20
    User feng
    ForwardX11 yes
    ForwardX11Trusted yes
Host lion
    HostName lion.mei.fm
    User feng
    Port 2222
    ForwardX11 yes
    ForwardX11Trusted yes
